* {
    font-family:Arial, Helvetica, sans-serif;
    color: #eee;
}

button {
    color: #000;
}

body {
    background-color: #222;
}

.header {
    margin:30px;
    text-align: center;
}

.project-wrapper {
    padding:15px;
}

.project {
    margin: 30px auto;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    min-width: 450px;
}

.name {
    display:block;
    font-size: xx-large;
    margin: 10px;
    color: #77f;
    text-decoration: none;
}

.name:hover {
    color: #4ff;
}

.description {
    display: none;
    border-style: solid;
    border-width: 1px;
    border-color:#777;
    background-color: #444;
    border-radius: 5px;
    padding: 8px;
    line-height: 1.3;
}